<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xixi.grade.mappers.TestDao">
    <select id="selectNameById" parameterType="int" resultType="String">
        SELECT testname
        FROM test
        WHERE testid = #{testid}
    </select>

    <select id="selectByName" resultType="com.xixi.grade.entity.Test">
        SELECT *
        FROM test
        WHERE testname = #{testname}
    </select>

    <insert id="insertName" >
        INSERT
        INTO test
        VALUES (0,#{testname})
    </insert>

    <select id="getAllTests" resultType="com.xixi.grade.entity.Test">
        select * from test;
    </select>
</mapper>