.background {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  //background:-webkit-linear-gradient(top,#C7E1FA,#4F8DCC);

  z-index: -100;
}
.content {
  width: 100vw;
  height: calc(100vh - 160rpx);
}

#main-canvas {
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  z-index: -100;
}
image {
  height: fit-content;
}
