@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
    animation-timing-function: cubic-bezier(0.175, 0.385, 0.32, 1);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.375, 0.19);
  }
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background:-webkit-linear-gradient(top,#C7E1FA,#4F8DCC);
  z-index: -100;
}

.content {
  // .player-info{
  //   margin-top: 4.8vh;
  //   margin-left: 2vw;
  //   .avatar {
  //     width: 5.16vh; height: 5.16vh;
  //     border-radius: 50%;
  //     border: white solid 2px;
  //     overflow: hidden;
  //     z-index: -1;
  //   }
  //   .player-info-container{
  //     position: absolute;
  //     top: 5.8vh;
  //     left: 9vw;
  //     height: 30px;
  //     width: 220px;
  //     border-radius: 6px;
  //     background-color: rgba(0,0,0,0.3);
  //     z-index: -2;
  //     color: white;
  //     display: flex;
  //     flex-direction: row;
  //     line-height: 66rpx;
  //     font-weight: 400;
  //     font-size: 16px;
  //     text-align: center;
  //     align-items: center;
  //     padding-left: 4vw;
  //     image{
  //       // padding-top: 5px;
  //       padding-left: 3vw;
  //       padding-right: 5px;
  //     }
  //     .exp-background {
  //       margin-left: 5px;
  //       position: relative;
  //       width: 35%;
  //       height: 28rpx;
  //       background: rgba(255,255,255,0.44);
  //       border-radius: 14rpx;
  //       .exp-bar {
  //         position: absolute;
  //         left: 0; right: 0;
  //         top: 0; bottom: 0;
  //         background: #FFFFFF;
  //         border-radius: 14rpx;
  //       }
  //     }
  //   }
  // }
  .player-info{
    margin-top: 36px;
    margin-left: 5px;
    .avatar {
      width: 40px; height: 40px;
      border-radius: 50%;
      border: white solid 2px;
      overflow: hidden;
      z-index: -1;
    }
    .player-info-container{
      position: absolute;
      top: 46px;
      left: 14px;
      height: 24px;
      width: 205px;
      border-radius: 6px;
      background-color: rgba(0,0,0,0.3);
      z-index: -2;
      color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 34px;
      text{
        line-height: 30rpx;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
      }
      image{
        // padding-top: 5px;
        padding-left: 8px;
        padding-right: 4px;
      }
      .exp-background {
        margin-right: 5px;
        margin-left: 5px;
        position: relative;
        width: 35%;
        height: 28rpx;
        background: rgba(255,255,255,0.44);
        border-radius: 14rpx;
        .exp-bar {
          position: absolute;
          left: 0; right: 0;
          top: 0; bottom: 0;
          background: #FFFFFF;
          border-radius: 14rpx;
        }
      }
    }
  }
  .notice{
    height: 30px;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-bottom: 1vh;
    image{
      position: relative;
      top: 6px;
      align-items: center;
      width: 24rpx;
      height: 40rpx;
    }
    text{
      font-weight: 300;
      font-size: x-small;
      line-height: 12px;
      text-align: center;
      color: rgba(0, 0, 0, 0.49);
    }
  }
  .container-top{
    display: flex;
    flex-direction: row;
    .room-info {
      transition: all 1s ease 0s;
      text-align: center;
      .room-name {
        position: absolute;
        left: 2vw;
        width: fit-content;
        font-size: 30rpx;
        margin-top: 10px;
        font-weight: 600;
        color: #38376D;
      }

    }

    // .room-info.focusing {
    //   margin-top: 10%;
    // }
    .shop-buttons{
      margin-top: 5px;
      margin-left: 15vw;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      image{
        height: 32px;
        width: 32px;
        padding-left: 4vw;
      }
    }
  }
  .rest-time {
    width: 100%;
    text-align: center;
    font-size: 17vw;
      font-weight: 400;
    opacity: 0.6;
    mix-blend-mode: darken;
  }
  .white-noise-status {
    animation: 1.5s linear 0.5s move-in both;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 312rpx;
    height: 72rpx;
    border-radius: 16rpx;
    background-color: rgba(1, 0, 15, 0.15);
    margin: 0 auto;
    padding: 0 16rpx;
    // background: #010015;
    mix-blend-mode: darken;
    // opacity: 0.15;

    .white-noise {
      height: 56rpx;
      opacity: 0.3
    }

    .white-noise.selected {
      opacity: 1
    }
  }
  .focus-btn {
    position: fixed;
    left: 25%;
    right: 25%;
    bottom: 25%;
    width: 50vw;
    height: 5.7vh;
    background-color: white;
    border-radius: 20rpx;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #816EA8;
    .text {
      font-size: 60rpx;
      font-weight: 700;
    }
  }

  .setting-btn {
    width: 7vw;
    height: 7vw;
    position: fixed;
    left: 86.7%;
    right: 3.3%;
    top: 16%;
    padding: 1vw;
  }
}

.cancel-button {
  position: fixed;
  left: 32rpx;
  top: 108rpx;
  width: fit-content;
  height: 42rpx;
}

.van-dialog {
  width: 75vw !important;
}

van-dialog {
  display: flex;
  align-items: center;
  justify-content: center;

  .start-config {
    border-radius: 64rpx;
    background-color: white;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    z-index: 2;

    .start-config-top {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .top-img {
        height: 42rpx;
        margin: 32rpx 32rpx;
      }
    }

    .clock-img {
      width: 270rpx;
    }

    van-slider {
      width: 70%;
      margin: 42rpx 0;
    }

    .time {
      margin-bottom: 40rpx;

      text {
        color: #4895FF;
        font-size: 35rpx;
      }
    }

    .content {
      height: fit-content;
      margin-bottom: 40rpx;
      display: flex;
      justify-content: center;
      align-items: center;

      .desc {
        font-size: 32rpx;
      }

      .btn {
        margin-left: 48rpx;
        padding: 10rpx 20rpx;
        background-color: #CADCEF;

        border-radius: 8rpx;
      }
    }

    .mode-set {
      width: 75%;
      margin-bottom: 21rpx;

      display: flex;
      justify-content: space-between;

      .mode {
        background-color: #D8D8D8;
        padding: 20rpx 42rpx;
        font-size: 30rpx;
        border-radius: 16rpx;
      }

      .selected {
        background-color: #C0A0C7;
      }
    }

    .text {
      font-size: 27rpx;
    }

    .start-btn {
      background-color: #4C7FB3;
      color: white;
      padding: 16rpx 110rpx;
      margin: 32rpx 32rpx;
      border-radius: 8rpx;
    }
  }

  .tags-config {
    border-radius: 64rpx;
    background-color: white;
    margin: auto auto;
    padding-top: 32rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    .tags-content {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .btn {
        margin: 16rpx;
        padding: 12rpx 24rpx;
        background-color: #D8D8D8;
        border-radius: 8rpx;

        font-size: 32rpx;
      }

      .selected {
        background-color: #CADCEF;
      }
    }

    .selector-btn {
      background-color: #4C7FB3;
      color: white;
      padding: 16rpx 190rpx;
      margin: 40rpx 32rpx;
      border-radius: 8rpx;
    }
  }

  .room-config {
    width: 80%;
    height: 35%;
    border-radius: 64rpx;
    background-color: white;

    display: flex;
    flex-direction: column;
    //justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;

    .color-block {
      margin: 30rpx 0;

      .color-topic {
        text-align: center;
      }

      .color-set {
        display: flex;

        .color {
          width: 64rpx;
          height: 64rpx;

          margin: 16rpx 16rpx;

          border-radius: 50%;

          background-color: rebeccapurple;
        }
      }

    }

    .shade-block {
      .shade-topic {
        text-align: center;
      }

      .btn {
        width: 110rpx;
        margin: 16rpx 21rpx;
      }
    }

    .save-btn {
      width: 55%;
      margin: 30rpx 0;
      padding: 16rpx 0;

      background-color: #4C7FB3;

      border-radius: 16rpx;

      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      .text {
        font-size: 36rpx;
        font-weight: normal;
      }
    }
  }

  .result-config {
    padding: 36rpx 0 12rpx;
    display: flex;
    flex-direction: column;
    align-items: center;

    .focus-title {
      width: 70%;
      height: 42rpx;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      text {
        width: 50%;
        height: 100%;
        font-size: 28rpx;
        text-align: center;
        white-space: nowrap;
        overflow-x: visible;
      }

      .tag {
        width: 40%;
      }
    }

    .focus-val {
      width: 70%;
      height: 56rpx;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin: 4rpx 0;

      text {
        width: 50%;
        color: rgba(76, 127, 179, 1);
        font-size: 36rpx;
        text-align: center;
      }

      .focus-type {
        width: 40%;
        height: 56rpx;
        border-radius: 8rpx;
        background-color: rgba(202, 220, 239, 1);

        font-size: 28rpx;
        line-height: 56rpx;
        text-align: center;
      }
    }

    .focus-content {
      width: 60%;
      height: 96rpx;
      border-radius: 14rpx;
      background-color: rgba(242, 242, 242, 1);
      font-size: 24rpx;
      margin: 16rpx auto 0;
      padding: 16rpx;
    }

    .result-config-top {
      position: relative;
      display: flex;
      flex-direction: column;

      width: 80%;
      margin-top: 32rpx;
      padding: 24rpx 0 48rpx;

      border-radius: 16px;
      background-color: rgba(237, 237, 237, 1);

      .gold-reward {
        height: 96rpx;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin: 0 32rpx 24rpx;

        .coins {
          width: 30%;
          height: 100%;
        }

        text {
          width: 60%;
          font-size: 36rpx;
          text-align: center;
        }
      }

      .upgrade {
        height: 56rpx;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin: 0 32rpx;

        .level {
          width: 30%;
          height: 100%;
          border-radius: 28rpx;
          background-color: rgba(216, 216, 216, 1);
          text-align: center;
          font-size: 28rpx;
          line-height: 56rpx;
        }

        .experience {
          position: relative;
          width: 60%;
          height: 42rpx;
          border-radius: 8px;
          background-color: rgba(255, 255, 255, 1);

          .progress {
            height: 100%;
            border-radius: 8px;
            background-color: rgba(179, 179, 179, 1);
          }

          .add {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

            font-size: 32rpx;
            line-height: 42rpx;
            text-align: center;
          }

          .tips {
            position: absolute;
            width: 100%;
            height: 32rpx;
            left: 0;
            top: 100%;

            margin-top: 4rpx;
            font-size: 22rpx;
            text-align: right;
          }
        }
      }

      .action {
        height: 200rpx;
        margin: 36rpx 24rpx;
        display: flex;
        flex-direction: column;

        .room-type {
          align-self: center;
          font-size: 25rpx;
          margin: 8rpx 0;
        }

        .action-list {
          display: flex;
          flex-direction: column;

          .action-title-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .content {
              width: 60%;
              height: fit-content;
              font-size: 25rpx;
              text-align: center;
            }
          }

          .action-item-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .content {
              width: 60%;
              height: fit-content;
              font-size: 24rpx;
              color: #8f8f8f;
              text-align: center;
            }
          }
        }




      }
    }

    // .content {
    //   width: 80%;
    //   height: fit-content;
    //   overflow-wrap: break-word;
    //   text-align: center;
    //   font-size: 0rpx;
    //   margin: 37rpx 0 0 33rpx;
    //   .result-text1 {
    //     font-size: 28rpx;
    //     line-height: 39rpx;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }
    //   .mins {
    //     font-size: 32rpx;
    //     color: rgba(74,150,255,1);
    //     line-height: 39rpx;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }
    //   .result-text2 {
    //     text-align: center;
    //     font-size: 28rpx;
    //     line-height: 39rpx;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }
    // }

    .result-btn {
      background-color: #4C7FB3;
      color: white;
      padding: 16rpx 140rpx;
      margin: 32rpx;
      border-radius: 8rpx;
    }
  }

  .tip-content {
    padding: 32rpx;

    .title {
      text-align: center;
      margin: 0 auto 24rpx;
      font-size: 28rpx;
    }

    .line {
      margin: 0 auto 24rpx;
      font-size: 24rpx;
    }
  }
}

.focus-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .messages{
    margin-left: 2vw;
    margin-bottom: 1vh;
    width: fit-content;
    // height: 50rpx;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(2, 2, 2, 0.25);
    border-radius: 8px;
    text-align: center;
    image{
      // position: relative;
      // top: 2px;
      margin: 2px;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid white;
    }
    text{
      margin-left: 2px;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
    }
  }
  .chat-container{
    // margin-bottom: 1vh;
    width: 100%;
    height: 7vh;
    background-color: rgba(1, 0, 15, 0.1);
    // background: #010015;
    mix-blend-mode: darken;
    // opacity: 0.1;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    .chat-img{
      width: 64rpx;
      height: 64rpx;
    }
    .chat-border{
      // margin-top: 1vh;
      align-items: center;
      // justify-content: center;
      margin-left: 10vw;
      width: 79vw;
      height: 4vh;
      background: rgba(2, 2, 2, 0.25);
      border: 3px solid rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      display: flex;
      position: relative;
      .message-input{
        width: 1000px;
        height: 4vh;
        justify-content: center;
        display: block;
        overflow-wrap: break-word;
        color:#A1A1A1;
        font-size: 30rpx;
        line-height: 35rpx;
        text-align: left;
        word-break: break-all
      }
      .sent-btn{
        position: absolute;
        right: -3px;
        justify-content: flex-end;
        width:16.1vw;
        height: 4vh;
        background-color: #050505;
        border: 3px solid #050505;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        text{
          font-weight: 700;
          font-size: 14px;
          // line-height: 30px;
          color: white;
        }
      }
    }
    .switch-container{
      margin-left: 18px;
      width: 10px;
      height: 32px;
      background: #D9D9D9;
      border-radius: 6px;
      .switch-content{
        background-color: white;
        height: 16px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        display: flex;
        justify-content: center;
        .switch-dot{
          width: 4px;
          height: 4px;
          margin-top: 3px;
          border-radius: 50%;
          background: #7DE24D;
        }
      }
    }
  }
}

// .focus-bottom {
//   position: fixed;
//   left: 0;
//   bottom: 5vh;
//   width: 100%;

//   .bottom-info {
//     animation: 1s linear 0s move-in;
//     position: relative;
//     width: 100%;
//     height: 128rpx;
//     margin-top: 92rpx;
//     display: flex;
//     flex-direction: row;

//     .player-info {
//       position: absolute;

//       left: 24rpx;
//       width: 160rpx;
//       height: fit-content;

//       display: flex;
//       flex-direction: column;
//       align-items: center;

//       .avatar {
//         width: 80rpx;
//         height: 80rpx;
//         margin: 0 0 8rpx;
//         border-radius: 50%;
//         border: #F8D1DB solid 2px;
//       }

//       .player-name {
//         width: 100%;
//         height: 32rpx;

//         color: white;
//         font-size: 24rpx;
//         text-align: center;

//         overflow: hidden; // 隐藏文字
//         white-space: nowrap; // 不换行
//         text-overflow: ellipsis; // 显示...
//       }
//     }

//     .slogan {
//       position: absolute;
//       left: 192rpx;
//       right: 32rpx;
//       height: 80rpx;
//       border-radius: 14rpx;
//       background-color: rgba(0, 0, 0, 0.13);
//       color: white;
//       font-size: 24rpx;
//       text-align: left;
//       padding: 16rpx 32rpx;
//       word-wrap: break-word;
//       word-break: normal;
//     }
//   }
// }

.room-status {
  animation: 2s linear 0s move-in;
  position: absolute;
  left: 53vw;
  bottom: 25vh;
  width: 45vw;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  text-align: right;

  .status-title{
    margin-right: 8vw;
    margin-bottom: 2px;
    color: white;
  }
  .status-text {
    height: 2vh;
  }
}

.remind {
  position: fixed;
  width: 50%;
  left: 25%;
  bottom: 30%;
  height: 12vh;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.89);
  text-align: center;
  display: flex;
  flex-direction: column;

  .remind-text1 {
    font-size: 28rpx;
    padding-top: 2.2vh;
  }

  .remind-text2 {
    font-size: 28rpx;
    padding-top: 1vh;
  }

  .remind-text3 {
    font-size: 21rpx;
    padding-top: 2vh;
  }
}
