@keyframes move-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
    animation-timing-function: cubic-bezier(0.175, 0.385, 0.32, 1);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.375, 0.19);
  }
}
#main-canvas {
  position: absolute;
  left: 0; top: 0;
  width: 100vw; height: 100vh;
  z-index: -100;
}

.container{
  position: absolute;
  left: 0; right: 0;
  width: 100vw;
  height: 100vh;
  //background:-webkit-linear-gradient(top,#C7E1FA,#4F8DCC);
  z-index: -100;
}

.content {

  .container-top {
    position: fixed;
    top: 80rpx;
  }
  .room-info {
    margin-top: 15%;
    width: 100%;
    transition: all 1s ease 0s;

    text-align: center;

    .top-player-name{
      width: fit-content;
      font-size: 24rpx;
      margin: 4rpx auto;

      transition: all 1.5s ease 0s;
    }
    .room-name {
      width: 296rpx; height: 80rpx;
      margin: 12rpx auto;

      text-align: center;

      background-color: white;
      border-radius: 32rpx;

      .text {
        width: fit-content;
        height: 100%;
        font-size: 32rpx;
        line-height: 80rpx;
        margin: 12rpx auto;
      }
    }
    .rest-time {
      width: fit-content;
      margin: 32rpx auto;
      font-size: 96rpx;
    }
  }
  .room-info.focusing {
    margin-top: 12%;
  }
  .focus-btn {
    position: fixed;
    left: 28%;
    right: 28%;
    bottom: 15%;

    width: 44%;
    height: 6%;

    background-color: white;
    border-radius: 64rpx;

    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-size: 36rpx;
      font-weight: bold;
    }
  }
  .toShop{
    width: 8vw;
    height: 8vw;
    position: fixed;
    left: 86%;
    right: 4%;
    top: 11%;
    padding: 0.8vw;
    background-color: #979797;
    border-radius: 9px;
  }
  .toSetting{
    width: 7vw;
    height: 7vw;
    position: fixed;
    left: 86.7%;
    right: 3.3%;
    top: 16%;
    padding: 1vw;
  }
}

van-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;

  .start-config {
    border-radius: 64rpx;
    background-color: white;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
    z-index: 2;

    .start-config-top {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .top-img {
        height: 80rpx;
        margin: 32rpx 32rpx;
      }
    }

    .clock-img { width: 270rpx; }

    van-slider {
      width: 70%;
      margin: 42rpx 0;
    }

    .time {
      margin-bottom: 40rpx;

      text {
        color: #4895FF;
        font-size: 35rpx;
      }
    }

    .content {
      height: fit-content;
      margin-bottom: 40rpx;
      display: flex;
      justify-content: center;
      align-items: center;

      .desc { font-size: 32rpx; }
      .btn {
        margin-left: 48rpx;
        padding: 10rpx 20rpx;
        background-color: #CADCEF;

        border-radius: 8rpx;
      }
    }

    .mode-set {
      width: 75%;
      margin-bottom: 21rpx;

      display: flex;
      justify-content: space-between;

      .mode {
        background-color: #D8D8D8;
        padding: 20rpx 42rpx;
        font-size: 30rpx;
        border-radius: 16rpx;
      }
      .selected { background-color: #C0A0C7; }
    }
    .text { font-size: 27rpx; }
    .start-btn {
      background-color: #4C7FB3;
      color: white;
      padding: 16rpx 110rpx;
      margin: 32rpx 32rpx;
      border-radius: 8rpx;
    }
  }
  .tags-config {

    border-radius: 64rpx;
    background-color: white;
    margin: auto auto;
    padding-top: 32rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;

    .content {
      height: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .btn {
        margin: 16rpx;
        padding: 12rpx 24rpx;
        background-color: #D8D8D8;
        border-radius: 8rpx;

        font-size: 32rpx;
      }
      .selected {
        background-color: #CADCEF;
      }
    }

    .selector-btn {
      background-color: #4C7FB3;
      color: white;
      padding: 16rpx 190rpx;
      margin: 40rpx 32rpx;
      border-radius: 8rpx;
    }
  }
  .room-config {
    width: 80%;
    height: 35%;
    border-radius: 64rpx;
    background-color: white;

    display: flex;
    flex-direction: column;
    //justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;

    .color-block {
      margin: 30rpx 0;

      .color-topic {
        text-align: center;
      }

      .color-set {
        display: flex;

        .color {
          width: 64rpx;
          height: 64rpx;

          margin: 16rpx 16rpx;

          border-radius: 50%;

          background-color: rebeccapurple;
        }
      }

    }

    .shade-block {
      .shade-topic { text-align: center; }
      .btn {
        width: 110rpx;
        margin: 16rpx 21rpx;
      }
    }

    .save-btn {
      width: 55%;
      margin: 30rpx 0;
      padding: 16rpx 0;

      background-color: #4C7FB3;

      border-radius: 16rpx;

      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      .text {
        font-size: 36rpx;
        font-weight: normal;
      }
    }
  }
  .result-config {
    border-radius: 150rpx;
    background-color: white;
    margin: auto auto;
    padding-top: 32rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    .focus-title {
      width: 411rpx;
      height: 39rpx;
      // margin-left: 10rpx;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      text{
        width: 168rpx;
        height: 39rpx;
        display: block;
        overflow-wrap: break-word;
        font-size: 30rpx;
        white-space: nowrap;
        line-height: 39rpx;
        text-align: center;
      }
    }
    .focus-val {
      width: 361rpx;
      height: 54rpx;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      margin: 5rpx 0 0 23rpx;
      text{
        width: 123rpx;
        height: 51rpx;
        display: block;
        overflow-wrap: break-word;
        color: rgba(76,127,179,1);
        font-size: 37rpx;
        white-space: nowrap;
        line-height: 51rpx;
        text-align: center;
        margin-top: 2rpx;
      }
      .focus-type {
        height: 54rpx;
        border-radius: 5rpx;
        background-color: rgba(202,220,239,1);
        display: flex;
        flex-direction: column;
        width: 133rpx;
        text{
          width: 98rpx;
          height: 35rpx;
          display: block;
          overflow-wrap: break-word;
          font-size: 25rpx;
          white-space: nowrap;
          line-height: 35rpx;
          text-align: center;
          margin: 9rpx 0 0 19rpx;
        }
      }
    }
    .focus-content {
      height: 98rpx;
      border-radius: 14rpx;
      background-color: rgba(242,242,242,1);
      display: flex;
      flex-direction: column;
      width: 426rpx;
      margin: 14rpx 0 0 0;
      text{
        width: 147rpx;
        height: 30rpx;
        display: block;
        overflow-wrap: break-word;
        color: rgba(123,123,123,1);
        font-size: 21rpx;
        white-space: nowrap;
        line-height: 30rpx;
        text-align: center;
        margin: 7rpx 0 0 16rpx;
      }
    }
    .result-config-top{
      margin-top: 2vh;
      z-index: 72;
      height: 16vh;
      border-radius: 20px;
      background-color: rgba(237,237,237,1);
      width: 65vw;
      position: relative;
      display: flex;
      flex-direction: column;

      .coinGain {
        width: 329rpx;
        height: 88rpx;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin: 33rpx 0 0 40rpx;
        text {
          font-size: 37rpx;
          text-align: center;
          margin-top: 19rpx;
        }
      }

      .upgrade {
        width: 401rpx;
        height: 53rpx;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        margin: 37rpx 0 0 39rpx;
        .level {
          height: 53rpx;
          border-radius: 26rpx;
          background-color: rgba(216,216,216,1);
          display: flex;
          flex-direction: column;
          width: 112rpx;
          text{
            width: 40rpx;
            height: 35rpx;
            display: block;
            overflow-wrap: break-word;
            font-size: 25rpx;
            line-height: 35rpx;
            text-align: left;
            margin: 9rpx 0 0 37rpx;
          }
        }
        .experience {
          height: 49rpx;
          border-radius: 6px;
          background-color: rgba(255,255,255,1);
          display: flex;
          flex-direction: column;
          width: 216rpx;
          .progress {
            width: 158rpx;
            height: 49rpx;
            border-radius: 6px;
            background-color: rgba(179,179,179,1);
            display: flex;
            flex-direction: column;
          }
        }
      }

      .tips {
        width: 184rpx;
        height: 30rpx;
        display: flex;
        flex-direction: row;
        margin: 0 0 16rpx 277rpx;
        text {
          width: 184rpx;
          height: 30rpx;
          font-size: 21rpx;
          text-align: left;
        }
      }
    }
    .add {
      z-index: 75;
      position: absolute;
      left: 293rpx;
      top: 156rpx;
      width: 60rpx;
      height: 51rpx;
      display: block;
      overflow-wrap: break-word;
      font-size: 37rpx;
      white-space: nowrap;
      line-height: 51rpx;
      text-align: center;
    }
    // .content {
    //   width: 80%;
    //   height: fit-content;
    //   overflow-wrap: break-word;
    //   text-align: center;
    //   font-size: 0rpx;
    //   margin: 37rpx 0 0 33rpx;
    //   .result-text1 {
    //     font-size: 28rpx;
    //     line-height: 39rpx;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }
    //   .mins {
    //     font-size: 32rpx;
    //     color: rgba(74,150,255,1);
    //     line-height: 39rpx;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }
    //   .result-text2 {
    //     text-align: center;
    //     font-size: 28rpx;
    //     line-height: 39rpx;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }
    // }

    .result-btn {
      background-color: #4C7FB3;
      color: white;
      padding: 16rpx 140rpx;
      margin: 32rpx;
      border-radius: 8rpx;
    }
  }
}

.focus-bottom{
  position: fixed;
  left: 0; bottom: 5vh;
  width: 100%;

  .weather-status {
    animation: 1.5s linear 0.5s move-in both;

    display: flex;
    //flex-direction: column;
    //justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    width: 312rpx; height: 72rpx;

    border-radius: 16rpx;
    background-color: rgba(0,0,0,0.19);

    margin: 0 auto;
    padding: 0 16rpx;

    .weather { height: 56rpx; }
  }
  .bottom-info {
    animation: 1s linear 0s move-in;
    position: relative;
    width: 100%;
    height: 128rpx;
    margin-top: 92rpx;
    display: flex;
    flex-direction: row;

    .player-info {
      position: absolute;

      left: 24rpx;
      width: 160rpx; height: fit-content;

      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        width: 80rpx; height: 80rpx;
        margin: 0 0 8rpx;
        border-radius: 50%;
        border: #F8D1DB solid 2px;
      }
      .player-name {
        width: 100%; height: 32rpx;

        color: white;
        font-size: 24rpx;
        text-align: center;

        overflow: hidden; // 隐藏文字
        white-space: nowrap; // 不换行
        text-overflow: ellipsis;// 显示...
      }
    }
    .slogan {
      position: absolute;

      left: 192rpx; right: 32rpx;
      height: 80rpx;

      border-radius: 14rpx;
      background-color: rgba(0,0,0,0.13);

      color: white;
      font-size: 24rpx;
      text-align: left;

      padding: 16rpx 32rpx;
    }
  }
  .room-status{
    animation: 2s linear 0s move-in;
    position: absolute;
    left: 74vw;
    bottom: 25vh;
    width: 30vw;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.remind{
  position: fixed;
  width: 50%;
  left: 25%;
  bottom: 30%;
  height: 12vh;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.89);
  text-align: center;
  display: flex;
  flex-direction: column;
  .remind-text1{
    font-size: 28rpx;
    padding-top: 2.2vh;
  }
  .remind-text2{
    font-size: 28rpx;
    padding-top: 1vh;
  }
  .remind-text3{
    font-size: 21rpx;
    padding-top: 2vh;
  }
}
