.page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(38,34,57,1);
}
@keyframes zoomOutDown1 {
  0% {
    opacity: 0;
    transform: scale3d(0.4, 0.4, 0.4) translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  60% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8) translate3d(0, -200px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
@keyframes zoomOutDown2 {
  30% {
    opacity: 1;
    transform: scale3d(0.6, 0.6, 0.6) translate3d(0, -200px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  60% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0, -200px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(0,0, 0) translate3d(0, -400px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
@keyframes zoomOutDown3 {
  0%{
    opacity: 1;
    transform: scale3d(0.4, 0.4, 0.4) translate3d(0, 250px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  30% {
    opacity: 1;
    transform: scale3d(0.6, 0.6, 0.6) translate3d(0, 150px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.8, 0.8, 0.8) translate3d(0, -100px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
@keyframes zoomOutDown4 {
  0%{
    opacity: 1;
    transform: scale3d(0.4, 0.4, 0.4) translate3d(0, -300px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  30% {
    opacity: 1;
    transform: scale3d(0.6, 0.6, 0.6) translate3d(0, -200px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.8, 0.8, 0.8) translate3d(0, -200px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
@keyframes zoomOutDown5 {
  0% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  30% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  60% {
    opacity: 0;
    transform: scale3d(1, 1, 1) translate3d(0, -200px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
.block1{
  // opacity: 0;
  position: relative;
  top: 10vh;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  opacity: 1;
  animation:2s linear 0s  alternate zoomOutDown1;
  width: 60vw;
  height: 54vw;
}
.logo-1{
  opacity: 0;
  animation:2s linear 0s  alternate zoomOutDown2;
  width: 60vw;
  height: 54vw;
}
.block2{
  animation:2.4s linear 0s  alternate zoomOutDown1;
  position: relative;
  top:12vh;
  margin-left: auto;
  margin-right: auto;
}
.block2-1
{
  animation:2s linear 0s  alternate zoomOutDown3;
  position: relative;
  bottom:5vh;
  margin-left: auto;
  margin-right: auto;
}
@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(38,34,57,1);
  }
}
.avatar{
  animation: animated-border 6s infinite;
  width: 28vw;
  height: 28vw;
  border-radius: 250rpx;
}
.block3{
  animation:3s linear 0s  alternate zoomOutDown1;
  position: relative;
  top: 22vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.block3-1
{
  animation:2s linear 0s  alternate zoomOutDown4;
  position: relative;
  top: 8vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.login{
  animation: animated-border 2s infinite;
  height: 4.6vh;
  border-radius: 16rpx;
  background-color: rgba(76,67,123,1);
  display: flex;
  flex-direction: column;
  width: 184rpx;
}
.login-text{
  color: rgba(255,255,255,1);
  font-size: 4vw;
  margin: 1vh 0 0 0;
}
.block4{
  animation:2.3s linear 0s  alternate zoomOutDown5;
  position: relative;
  bottom: 3vh;
  margin-left: auto;
  margin-right: auto;
}
.name{
  height: 4vh;
  border-radius: 35rpx;
  background-color: rgba(0,0,0,0.71);
  width: 303rpx;
  text-align: center;
}
.name-input{
  height: 3vh;
  width: 30vw;
  position: relative;
  top: 0.6vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.block5{
  animation:2.6s linear 0s  alternate zoomOutDown5;
  width: 235rpx;
  height: 63rpx;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.male{
  height: 3.85vh;
  border-radius: 32rpx;
  background-color: rgba(234,234,234,1);
  width: 91rpx;
  text-align: center;
}
.gender-text{
  position: relative;
  top: 0.45vh;
  font-size: 3.8vw;
}
.female{
  height: 3.85vh;
  border-radius: 32rpx;
  background-color: rgba(244,213,213,1);
  width: 91rpx;
  text-align: center;
}
.block6{
  animation:3.1s linear 0s  alternate zoomOutDown5;
  height: 11.4vh;
  border-radius: 16rpx;
  border: 1px solid rgba(38,33,57,1);
  background-color: rgba(255,255,255,1);
  width: 468rpx;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
}
.slogan{
  width: 50vw;
  height: 7vh;
  display: block;
  overflow-wrap: break-word;
  color: rgba(0,0,0,1);
  font-size: 4vw;
  line-height: 35rpx;
  text-align: left;
  margin-top:2vh;
  margin-left: auto;
  margin-right: auto;
  word-break:break-all
}
