
.container {

  .container-top {
    position: fixed;
    top: 80rpx;
  }

  .search {
    position: fixed;

    top: 168rpx;
    right: 24rpx;

    padding: 12rpx 20rpx;
    background-color: rgba(0, 0, 0, 0.21);
    width: 256rpx;

    border-radius: 12rpx;

    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      padding: 4rpx 16rpx;
      background-color: white;
      border-radius: 32rpx;
      width: 80%;

      font-size: 24rpx;
    }

    .img {
      width: 48rpx;
      margin-left: 12rpx;
    }
  }

  .room-list {
    position: fixed;

    top: 268rpx; bottom: 160rpx;

    .room-list-content {
      width: 100%;

      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      flex-wrap: wrap;

      .room {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

        margin: 24rpx 0;

        .room-thumbnail {
          width: 60%;
        }
        .room-desc {
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;

          .room-user-name {
            margin: 16rpx 0;
          }

          .room-level-name {
            min-width: 60%;
            padding: 12rpx 24rpx;

            display: flex;
            justify-content: space-between;

            border-radius: 16rpx;

            background-color: rgba(0, 0, 0, 0.123);
            color: white;

            .room-level {
              margin: 0 8rpx;
            }
          }
        }
      }
    }
  }
}
