.page {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;

  .player-info {
    position: absolute;
    width: 100vw;
    height: 532rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    .avatar {
      width: 128rpx; height: 128rpx;
      margin: 28rpx;
      border-radius: 50%;
      border: #F8D1DB solid 4px;
    }
    .name {
      width: 384rpx;
      text-align: center;
      color: black;
    }
    .slogan {
      width: 70%; height: 80rpx;
      margin: 16rpx auto;
      padding: 16rpx 32rpx;
      border-radius: 24rpx;
      background-color: rgba(0,0,0,0.16);
      font-size: 24rpx;
      text-align: left;
      color: white;
      word-wrap: break-word;
      word-break: normal;
    }
    .reward-code {
      position: absolute;
      top: 192rpx; right: 32rpx;
      font-size: 28rpx;
    }
  }

  .menu-grid {
    position: absolute;
    top: 548rpx; bottom: 0;
    width: 100%;

    .van-grid::after {
      border: none !important;
    }
    .van-grid-item__content--center {
      background-color: transparent !important;
    }
    .van-grid-item__content--center::after {
      border: none !important;
    }
    .menu-item {
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 192rpx;
      height: fit-content;

      background-color: transparent;

      margin: 16rpx;

      image {
        width: 48rpx;
        height: 48rpx;
        margin-bottom: 24rpx;
      }
      .menu-title {
        flex: 12;
        font-size: 28rpx;
      }
    }
    .menu-row {
      display: flex;

      width: 100%;

      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin-top: 32rpx;
      margin-bottom: 32rpx;
    }
  }

  .room-list {
    position: absolute;
    top: 548rpx; bottom: 0;
    .label {
      display: block;
      width: fit-content;
      height: 28rpx;
      line-height: 28rpx;
      font-size: 28rpx;
      margin-left: 80rpx;
    }
    .room-card {
      position: relative;
      width: 85%;
      height: 192rpx;
      background-color: rgba(255,255,255,0.3);
      border-radius: 36rpx;
      margin: 28rpx auto;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      .room {
        width: fit-content;
        height: calc(100% - 32rpx);
        padding: 32rpx;
      }
      .info {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .user {
          font-size: 24rpx;
          margin-top: 24rpx;
        }
        .name {
          width: fit-content;
          padding: 8rpx 16rpx;
          background-color: rgba(0,0,0,0.2);
          color: white;
          font-size: 24rpx;
          border-radius: 16rpx;
          margin: 8rpx 0;
        }
      }
      .enter-tips {
        position: absolute;
        bottom: 16rpx;
        right: 32rpx;
        width: 128rpx;
        height: 32rpx;
        line-height: 32rpx;
        font-size: 24rpx;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        .enter {
          display: block;
          width: 24rpx;
          height: 24rpx;
          margin-left: 8rpx;
        }
      }
      .star {
        position: absolute;
        top: 16rpx;
        right: 32rpx;
        width: 32rpx;
        height: 32rpx;
      }
    }
  }
}

.info-window {
  width: 80%;
  height: fit-content;
  position: relative;
  padding: 32rpx 0;
  .info-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .avatar {
      width: 192rpx; height: 192rpx;
      margin: 16rpx;
      border-radius: 50%;
      border: #F8D1DB solid 5px;
    }
    .name {
      width: 60%;
      height: 72rpx;
      color: white;
      background-color: rgba(0,0,0,0.5);
      border-radius: 36rpx;
      margin-top: 24rpx;
      text-align: center;
    }
    .gender-container {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      text-align: center;
      .gender-box {
        color: black;
        border-radius: 36rpx;
        padding: 12rpx 32rpx;
        margin: 24rpx;
        font-size: 28rpx;
        text-align: center;
        background-color: rgba(234,234,234,1);

        .gender-text{
          line-height: 100%;
        }
      }
      .male.selected{ background-color: rgba(213,213,244,1); }
      .female.selected { background-color: rgba(244,213,213,1); }
    }
    .slogan {
      width: 75%; height: 192rpx;
      background-color: #C7E1FA;
      border-radius: 24rpx;
      padding: 20rpx 36rpx;
      font-size: 28rpx;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      text-align: center;
      margin-top: 36rpx;
      margin-bottom: 20rpx;
      view {
        color: white;
        width: 192rpx; height: 80rpx;
        line-height: 80rpx;
        border-radius: 24rpx;
        margin: 0rpx 32rpx;
        font-size: 32rpx;
      }
      .ok { background-color: #4A7EB2 }
      .cancel { background-color: #D8D8D8 }
    }
  }
}

.invite-window {
  width: 80%;
  height: fit-content;
  position: relative;
  padding: 32rpx;
  .invite-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .tips {
      font-size: 28rpx;
      text {
        font-size: 36rpx;
        color: #6587AE;
      }
    }
    .list {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;

      font-size: 24rpx;
      margin: 20rpx 0;

      .row {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        color: #B4B4B4;

        margin: 4rpx 0;

        text-align: center;

        .left { width: 25%; }
        .middle { width: 50%; }
        .right { width: 25%; }
        .button {
          height: 42rpx;
          line-height: 42rpx;
          border-radius: 8rpx;
          background-color: #6587AE;
          color: white;
        }
        .disabled {
          background-color: grey;
        }
      }
      .head {
        color: black;
      }
    }
    .cur {
      font-size: 28rpx;
      text {
        font-size: 28rpx;
        color: #6587AE;
      }
    }
    .line {
      width: 80%;
      height: 1rpx;
      background-color: black;
      margin: 12rpx 0;
    }
    .confirm {
      font-size: 28rpx;
      margin: 12rpx;
    }
  }
}
