.page {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;

  // .player-info {
  //   position: absolute;
  //   width: 100vw;
  //   height: 532rpx;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   align-content: center;
  //   justify-items: center;
  //   justify-content: center;
  //   text-align: center;
  //   .avatar {
  //     width: 128rpx; height: 128rpx;
  //     margin: 28rpx;
  //     border-radius: 50%;
  //     border: #F8D1DB solid 4px;
  //   }
  //   .name {
  //     width: 384rpx;
  //     text-align: center;
  //     color: black;
  //   }
  //   .slogan {
  //     width: 70%; height: 80rpx;
  //     margin: 16rpx auto;
  //     padding: 16rpx 32rpx;
  //     border-radius: 24rpx;
  //     background-color: rgba(0,0,0,0.16);
  //     font-size: 24rpx;
  //     text-align: left;
  //     color: white;
  //     word-wrap: break-word;
  //     word-break: normal;
  //   }
  //   .reward-code {
  //     position: absolute;
  //     top: 192rpx; right: 32rpx;
  //     font-size: 28rpx;
  //   }
  // }

  .container-top{
    .player-info{
      margin-top: 36px;
      margin-left: 5px;
      .avatar {
        width: 40px; height: 40px;
        border-radius: 50%;
        border: white solid 2px;
        overflow: hidden;
        z-index: -1;
      }
      .player-info-container{
        position: absolute;
        top: 46px;
        left: 14px;
        height: 24px;
        width: 205px;
        border-radius: 6px;
        background-color: rgba(0,0,0,0.3);
        z-index: -2;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 34px;
        text{
          line-height: 30rpx;
          font-weight: 400;
          font-size: 12px;
          text-align: center;
        }
        image{
          // padding-top: 5px;
          padding-left: 8px;
          padding-right: 4px;
        }
        .exp-background {
          margin-right: 5px;
          margin-left: 5px;
          position: relative;
          width: 35%;
          height: 28rpx;
          background: rgba(255,255,255,0.44);
          border-radius: 14rpx;
          .exp-bar {
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background: #FFFFFF;
            border-radius: 14rpx;
          }
        }
      }
    }
    .shop-buttons{
      margin-top: 5px;
      margin-left: 62%;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      image{
        height: 32px;
        width: 32px;
        padding-left: 4vw;
      }
    }
  }

  // .envelop-container{
  //   margin-top: 1vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // .envelop{
    //   width: 100vw;
    //   height: 60vh;
    //   position: absolute;
    //   bottom: 0;
    //   z-index: 2;
    // }
  // }

  .background-logo{
    position: absolute;
    top: -11.5vh;
    left: -10vw;
    width: 120%;
    height: 55%;
    z-index: -2;
    opacity: 0.8;
    backdrop-filter: blur(40px);
  }

  .paper{
    margin-top: 9vh;
    position: relative;
    top: 0;
    left: 2vw;
    width: 96vw;
    height: 19vh;
    bottom: 50vh;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.95;
    border-radius: 8px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    .slogan-container{
      position: absolute;
      left: 31vw;
      top: -11vh;
      .slogan-box{
        width: 32vw;
        height: 3vh;
        opacity: 0.9;
      }
      .slogan-text{
        position: absolute;
        left: 33vw;
        top: -11vh;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
      }
    }
    .slogan-text{
      position: relative;
      top: -15vh;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: center;
      color: white;
    }
    .myAvatar{
      position: absolute;
      top: -16vw;
      left: 32.8vw;
      width: 30vw; height: 30vw;
      border-radius: 50%;
      border: white solid 4px;
      overflow: hidden;
      z-index: 1;
    }
    text{
      // position: relative;
      // top: 7vh;
      // padding-top: 40%;
      margin-top: 2vh;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      color: #9879BF;
    }
    .menu{
      display: flex;
      flex-direction: row;
      justify-content: center;
      z-index: 3;
      margin-top: 1vh;
      .invite{
        position: relative;
        margin-right: 10vw;
        display: flex;
        flex-direction: row;
        background: #7F67B1;
        border-radius: 8px;
        width: 142px;
        height:28px;
        image{
          position: absolute;
          bottom: -6px;
          width: 53px;
          height: 48px;
          overflow: visible;
        }
        text{
          margin-top: 0;
          color: white;
          margin-left: 15vw;
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          color: #FFFFFF;
        }
      }
      .reward{
        position: relative;
        display: flex;
        flex-direction: row;
        background: #7F67B1;
        border-radius: 8px;
        width: 142px;
        height:28px;
        image{
          position: absolute;
          bottom: -8px;
          left: 3px;
          width: 35px;
          height: 35px;
        }
        text{
          margin-top: 0;
          color: white;
          margin-left: 15vw;
          font-weight: 400;
          font-size: 15px;
          line-height: 27px;
          color: #FFFFFF;
        }
      }
    }
  }

  .menu-grid {
    position: absolute;
    top: 548rpx; bottom: 0;
    width: 100%;

    .van-grid::after {
      border: none !important;
    }
    .van-grid-item__content--center {
      background-color: transparent !important;
    }
    .van-grid-item__content--center::after {
      border: none !important;
    }
    .menu-item {
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 192rpx;
      height: fit-content;

      background-color: transparent;

      margin: 16rpx;

      image {
        width: 48rpx;
        height: 48rpx;
        margin-bottom: 24rpx;
      }
      .menu-title {
        flex: 12;
        font-size: 28rpx;
      }
    }
    .menu-row {
      display: flex;

      width: 100%;

      flex-direction: row;
      justify-content: center;
      align-items: center;

      margin-top: 32rpx;
      margin-bottom: 32rpx;
    }
  }

  .room-list{
    height: 46.5vh;
    z-index: 4;
    margin-top: 1vh;
    .room{
      position: relative;
      margin-top: 3vh;
      margin-left: 2vw;
      width: 96vw;
      height: 10.3vh;
      background: #E9DBEB;
      border-radius: 6px;
    }
    .room-pic{
      position: absolute;
      top: -2vh;
      left: -5px;
      width: 24.7vw;
      height: 26vw;
      display: inline-block;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
      border-radius: 6px;
    }
    .room-info{
      z-index: 6;
      padding-top: 0.6vh;
      margin-left: 28vw;
      .room-num-name{
        margin-bottom: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .room-num{
          width: 22px;
          height: 22px;
          border-radius: 50%;
          background: #B9B6F2;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 16px;
          margin-right: 3px;
        }
        .room-name{
          font-family: 'Dubai';
          font-style: normal;
          font-weight: 600;
          font-size: 2.6vh;
          color: #464499;
        }
      }
      .room-owner{
        // margin-bottom: 2px;
        // margin-left: 2px;
        position: absolute;
        right: 2.5vw;
        top: 1.5vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 73px;
        height: 14px;
        // background: #BA9CC0;
        border-radius: 2px;
        border: 1px solid #B9B6F2;
        // image{
        //   margin: 0 1.5px;
        //   width: 7px;
        //   height: 7px;
        //   border-radius: 2px;
        // }
        .dot{
          margin-left:10px;
          margin-right: 3px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #7DE24D;
        }
        text{
          font-weight: 400;
          font-size: 8px;
          line-height: 11px;
          color:#BEB5F0;
        }
      }
      .stars{
        margin-left: 5vw;
        // margin-top: 0.6vh;
        margin-bottom: 1vh;
        display: flex;
        flex-direction: row;
        image{
          width: 15px;
          height: 13px;
          padding-right: 1px;
        }
      }
      .room-slogan{
        margin-left: 5vw;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        color: #989898;
      }
    }
    .enter{
      z-index: 6;
      position: absolute;
      right: 3vw;
      top: 6.4vh;
      width: 44px;
      height: 19px;
      background: #816EA8;
      border-radius: 10px;
      color: white;
      text-align: center;
      line-height: 18px;
    }
    .bubble1{
      z-index: 5;
      width: 49px;
      height: 49px;
      position: absolute;
      left: 10vw;
      top: 1.5vh;
    }
    .bubble2{
      z-index: 5;
      width: 151px;
      height: 118px;
      position: absolute;
      top: -2vh;
      right: 0;
    }
  }


  // .room-list {
  //   position: absolute;
  //   top: 548rpx; bottom: 0;
  //   .label {
  //     display: block;
  //     width: fit-content;
  //     height: 28rpx;
  //     line-height: 28rpx;
  //     font-size: 28rpx;
  //     margin-left: 80rpx;
  //   }
  //   .room-card {
  //     position: relative;
  //     width: 85%;
  //     height: 192rpx;
  //     background-color: rgba(255,255,255,0.3);
  //     border-radius: 36rpx;
  //     margin: 28rpx auto;
  //     display: flex;
  //     flex-direction: row;
  //     align-content: center;
  //     align-items: center;
  //     .room {
  //       width: fit-content;
  //       height: calc(100% - 32rpx);
  //       padding: 32rpx;
  //     }
  //     .info {
  //       width: 60%;
  //       height: 100%;
  //       display: flex;
  //       flex-direction: column;
  //       .user {
  //         font-size: 24rpx;
  //         margin-top: 24rpx;
  //       }
  //       .name {
  //         width: fit-content;
  //         padding: 8rpx 16rpx;
  //         background-color: rgba(0,0,0,0.2);
  //         color: white;
  //         font-size: 24rpx;
  //         border-radius: 16rpx;
  //         margin: 8rpx 0;
  //       }
  //     }
  //     .enter-tips {
  //       position: absolute;
  //       bottom: 16rpx;
  //       right: 32rpx;
  //       width: 128rpx;
  //       height: 32rpx;
  //       line-height: 32rpx;
  //       font-size: 24rpx;
  //       display: flex;
  //       flex-direction: row;
  //       align-content: center;
  //       align-items: center;
  //       .enter {
  //         display: block;
  //         width: 24rpx;
  //         height: 24rpx;
  //         margin-left: 8rpx;
  //       }
  //     }
  //     .star {
  //       position: absolute;
  //       top: 16rpx;
  //       right: 32rpx;
  //       width: 32rpx;
  //       height: 32rpx;
  //     }
  //   }
  // }
}

.info-window {
  width: 80%;
  height: fit-content;
  position: relative;
  padding: 32rpx 0;
  .info-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .avatar {
      width: 192rpx; height: 192rpx;
      margin: 16rpx;
      border-radius: 50%;
      border: #F8D1DB solid 5px;
    }
    .name {
      width: 60%;
      height: 72rpx;
      color: white;
      background-color: rgba(0,0,0,0.5);
      border-radius: 36rpx;
      margin-top: 24rpx;
      text-align: center;
    }
    .gender-container {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      text-align: center;
      .gender-box {
        color: black;
        border-radius: 36rpx;
        padding: 12rpx 32rpx;
        margin: 24rpx;
        font-size: 28rpx;
        text-align: center;
        background-color: rgba(234,234,234,1);

        .gender-text{
          line-height: 100%;
        }
      }
      .male.selected{ background-color: rgba(213,213,244,1); }
      .female.selected { background-color: rgba(244,213,213,1); }
    }
    .slogan {
      width: 75%; height: 192rpx;
      background-color: #C7E1FA;
      border-radius: 24rpx;
      padding: 20rpx 36rpx;
      font-size: 28rpx;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      text-align: center;
      margin-top: 36rpx;
      margin-bottom: 20rpx;
      view {
        color: white;
        width: 192rpx; height: 80rpx;
        line-height: 80rpx;
        border-radius: 24rpx;
        margin: 0rpx 32rpx;
        font-size: 32rpx;
      }
      .ok { background-color: #4A7EB2 }
      .cancel { background-color: #D8D8D8 }
    }
  }
}

.invite-window {
  width: 80%;
  height: fit-content;
  position: relative;
  padding: 32rpx;
  .invite-content {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    .tips {
      font-size: 28rpx;
      text {
        font-size: 36rpx;
        color: #6587AE;
      }
    }
    .list {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;

      font-size: 24rpx;
      margin: 20rpx 0;

      .row {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;

        color: #B4B4B4;

        margin: 4rpx 0;

        text-align: center;

        .left { width: 25%; }
        .middle { width: 50%; }
        .right { width: 25%; }
        .button {
          height: 42rpx;
          line-height: 42rpx;
          border-radius: 8rpx;
          background-color: #6587AE;
          color: white;
        }
        .disabled {
          background-color: grey;
        }
      }
      .head {
        color: black;
      }
    }
    .cur {
      font-size: 28rpx;
      text {
        font-size: 28rpx;
        color: #6587AE;
      }
    }
    .line {
      width: 80%;
      height: 1rpx;
      background-color: black;
      margin: 12rpx 0;
    }
    .confirm {
      font-size: 28rpx;
      margin: 12rpx;
    }
  }
}
