.reset {
    height: 100vh;
    width: 100vw;
}
.form-res {
    position: absolute;
    top: 10vh;
    left: 5vw;
    height: 80vh;
    width: 50vw;
    min-width: 400px;
    min-height: 400px;
    /*background-color: #FAA6A4;*/
    display: flex;
    align-items: center;
    justify-content: left;
}
.form-box {
    position: absolute;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    /*background-color: red;*/
}
.form-title {
    position: absolute;
    top: 20px;
    left: 60px;
    font-size: 40px;
}
.form-inputs {
    position: absolute;
    width: 310px;
    top: 120px;
    left: 60px;
    display: flex;
    flex-direction: column;
    /*background-color: #61dafb;*/
}
.input-box {
    height: 40px;
    width: 300px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.form-btns-res {
    position: absolute;
    top: 300px;
    left: 60px;
    width: 310px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    /*background-color: #61dafb;*/
}
.btn-ver {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background: linear-gradient(#FF9494, #DC8AF9);
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    font-size: 15px;
}